<div id="cw-delete-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
      </div>
      <div class="modal-body">
        <div id="cw-delete-modal-alert" class="alert" role="alert"></div>
      </div>
      <div class="modal-footer">
        <a id="cw-btn-close-delete-modal" class="btn btn-secondary btn-lg" href="/data/<%= cckState.schemaName %>?excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>">Ok</a>
      </div>
    </div>
  </div>
</div>