<table class="table cw-table">
  <!-- Table header-->
  <%- include tableHeader.ejs %>
  <tbody id="cw-result-container" style="max-height:23em;"><!-- Results will be loaded here --></tbody>
</table>
