<thead>
  <tr class="d-flex">
    <% for (let fieldName of cckState.fieldNames) { %>
      <% let fieldInfo = cckState.schema.fields[fieldName] %>
      <% if (fieldInfo.hidden && fieldInfo.hidden.indexOf('tabular') > -1) { continue;} %>
      <th class="cw-sort <%= fieldInfo.bootstrapColWidth ? 'col-' + fieldInfo.bootstrapColWidth : 'col' %>" field="<%=fieldName%>">
        <%= fieldInfo.caption %> <span class="cw-sort-icon" field="<%=fieldName%>"></span>
      </th>
    <% } %>
    <th class="col">Action</th>
  </tr>
</thead>