package-lock.json
webConfig.js
webConfig.json
node_modules/
plugins/
npm_debug.log
.cache-require-paths.json
.*.cjson
public/uploads/*.*
views/simpleplugin/
public/simpleplugin/
chains/simpleplugin/
views/total-kanban/
public/total-kanban/
chains/total-kanban/